<html>
<head>
<title>Venta de boletos.</title>
</head>
<body>
<p> </p>
<p>Venta de Boletos de aerolinea.</p>
<p>Por favor llene solo los campos que desea. </p>
<p> </p>
    <form action="/boletoscondicional/" method="GET">
        <p> Nuestros Servicios: </p>
        <p> Tipo de clase --------------   ----------- 1era Clase ---------- 2da Clase ------------- 3era Clase ---------- <input type="text" name="tipoclase"> </p>
        <p> </p>
        <p> </p>
        <p> Comida </p>
        <p> -------------------- 1era Clase --50-- ----------------------- 2da Clase --40-- ------------------------ 3era Clase --25-- ------------------- </p>
        <p> ------------ <input type="text" name="c1"> ----------- <input type="text" name="c2"> ---------- <input type="text" name="c3"></p>
        <p> Bebida </p>
        <p> -------------------- 1era Clase --35-- ----------------------- 2da Clase --25-- ------------------------ 3era Clase --10-- -------------------  </p>
        <p> -------------<input type="text" name="b1"> ----------- <input type="text" name="b2"> ---------- <input type="text" name="b3"></p>
        <p> Pelicula </p>
        <p> -------------------- 1era Clase --70-- ----------------------- 2da Clase --55-- ------------------------ 3era Clase --25-- ------------------- </p>
        <p> -------------<input type="text" name="p1"> ----------- <input type="text" name="p2"> ---------- <input type="text" name="p3"></p>
        <p> </p>
        <p> <input type="submit" value="Comprar"></p>
    </form>
</body>
</html>