<html>
<body>
<p>--------------------Factura--------------------</p>
<p>--- Usted viajara en: <strong>{{tipovuelo}}</strong> </p>
<p>--- Total Comida:   Q<strong>{{comida1}}</strong></p>
<p>--- Total Bebida:   Q<strong>{{bebida1}}</strong></p>
<p>--- Total Pelicula: Q<strong>{{pelicula1}}</strong></p>
<p>---------------------------------------------------</p>
<p>--- Subtotal:       Q<strong>{{subtotal1}}</strong></p>
<p>--- Descuento:      Q<strong>{{descuento1}}</strong></p>
<p>...................................................</p>
<p>--- Total:          Q<strong>{{total1}}</strong></p>
</body>
</html>