<html>
<head>
<title>Juego</title>
</head>
<body>
<p> Bienvenido al juego - Adivina el numero </p>
<p> Ingrese un valor del 1 al 10 - Tendra 4 oportunidades.</p>
    <p> </p>
    <p> Ingrese su Nombre.</p>
    <p> </p>
        <form action="/juegocondicional/" method="GET">
            <p> <input type="text" name="nombre"></p>
            <p> Oportunidad No. 1 </p>
            <p>Intento1:<input type="text" name="primero"></p>
            <input type="submit" value="Probar">
        </form>
</body>
</html>